.table
{
	display:table;
	width: 99%;
	border-collapse:collapse;
}
.thead
{
	display:table-header-group;
	color:white;
	font-weight:bold;
	background-color:blue;
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;
}
.td
{
	text-align: center;
	display:table-cell;
	border:1px solid blue;
	padding:1px;
}
.tr.editing .td INPUT
{
	width:100px;
}

input[type=text] {
	width: 90%;
	border:0;
	text-align: center;
}

.overf {
	max-height : 200px;
	overflow-x : auto;
}

.right {
	float: right;
}
